{% extends "base.html" %}

{% block content %}

    <section class="engine"><a href="https://mobirise.info/k">develop your own website</a></section>
    <section class="header9 cid-rb22P8EyI0 mbr-fullscreen mbr-parallax-background" id="header9-14">


        <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(6, 137, 224);">
        </div>

        <div class="container">
            <div class="media-container-column mbr-white col-md-8">
                <h1 class="mbr-section-title align-left mbr-bold pb-3 mbr-fonts-style display-1">FORGOT PASSWORD</h1>
                <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-7">
                    Change your Password if you have forgotten it, or want to just change it</h3>
                <p class="mbr-text align-left pb-3 mbr-fonts-style display-5">
                    &lt;Change Password Form&gt;</p>
                <form name="changepass2">
                    <font color="white">Enter your registered email id:</font> &nbsp&nbsp
                    <input type="text" name="email" class=css-input>


                </form>
                <div class="mbr-section-btn align-left"><a class="btn btn-md btn-primary display-4"
                                                           onclick="validateSendEmail()">CHANGE
                    PASSWORD</a></div>
            </div>
        </div>


    </section>

{% endblock %}