{% extends "base.html" %}

{% block content %}

<section class="engine"><a href="https://mobirise.info/l">free site templates</a></section><section class="cid-rb1RkJi8jh mbr-fullscreen" data-bg-video="https://www.youtube.com/watch?v=CZg5Lt2tJX0" id="header2-s">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(61, 108, 139);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    INVITE FRIEND</h1>
                
			<form name="invite_email">
					
					<div class="formRight">
<br>
					
<span style="padding-right:0px"><h2>Enter Your Email</h2> </span>

    <input type = "text" id="email" class="box2" name="email">
        </input>
		</span>
		
&nbsp &nbsp
		
</div>
<br>
					
					


                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" onclick="validateInviteFriend()">SEND INVITE</a></div>
                </form>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}