{% extends "base.html" %}

{% block content %}

<section class="engine"><a href="https://mobirise.info">Mobirise</a></section><section class="header9 cid-rb1PGfmSo8 mbr-fullscreen" data-bg-video="https://www.youtube.com/watch?v=LLonvaUlsbk" id="header9-p">

    

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(6, 137, 224);">
    </div>

    <div class="container">
        <div class="media-container-column mbr-white col-md-8">
            <h1 class="mbr-section-title align-left mbr-bold pb-3 mbr-fonts-style display-1">PROFILE</h1>
            <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5">View your Profile Info and Change your Credentials here</h3>
            <p class="mbr-text align-left pb-3 mbr-fonts-style display-5">
                &lt;Profile info form&gt;</p>
            <div class="mbr-section-btn align-left"><a class="btn btn-md btn-primary display-4" href="profile">ADD A NEW CARD</a>
                <a class="btn btn-md btn-black display-4" href="changepassword">CHANGE PASSWORD</a></div>
        </div>
    </div>

    
</section>
{% endblock %}